In [141]:
# Import libraries
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
import numpy as np

In [142]:
# Read data
df = pd.read_csv('train.csv')

In [143]:
# Show head
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [144]:
df.Ticket.value_counts()

Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64

In [158]:
class Preprocess:
    def __init__(self, df):
        self.df = df

    def drop_cols(self, cols):
        self.df.drop(cols, axis=1, inplace=True)

    def onehotencode(self, col):
        enc_name = 'enc_' + col
        setattr(self, enc_name, OneHotEncoder(drop='first', sparse_output=False))
        getattr(self, enc_name).fit(np.array(self.df[col]).reshape(-1, 1))
        transformed_values = getattr(self, enc_name).transform(np.array(self.df[col]).reshape(-1, 1))
        transformed_values_df = pd.DataFrame(transformed_values, columns=getattr(self, enc_name).get_feature_names_out([col]))
        self.df = pd.concat([self.df, transformed_values_df], axis=1)
        self.df.drop(col, axis=1, inplace=True)
    
    def fill_mean(self, col):
        fill_name = 'mean_' + col
        setattr(self, fill_name, self.df[col].mean())
        self.df.fillna(self.df[col].mean(), inplace=True)

    def fit(self):
        self.drop_cols(['PassengerId', 'Name', 'Cabin', 'Ticket'])
        self.fill_mean('Age')
        self.onehotencode('Embarked')
        self.onehotencode('Sex')

    def transform(self):

In [159]:
preprocessed_data = Preprocess(df.copy())
# preprocessed_data.drop_cols(['PassengerId', 'Name', 'Cabin', 'Ticket'])
# preprocessed_data.df.head()
# preprocessed_data.onehotencode('Sex')
# preprocessed_data.onehotencode('Embarked')
# preprocessed_data.fill_mean('Age')
preprocessed_data.fit()

In [147]:
rf = RandomForestClassifier()

In [148]:
preprocessed_data.df.isnull().sum()

Survived        0
Pclass          0
Age             0
SibSp           0
Parch           0
Fare            0
Sex_male        0
Embarked_Q      0
Embarked_S      0
Embarked_nan    0
dtype: int64

In [149]:
rf.fit(preprocessed_data.df.iloc[:,1:], preprocessed_data.df.iloc[:,0])

RandomForestClassifier()

In [150]:
test_df = pd.read_csv('test.csv')

In [151]:
submission = test_df[['PassengerId']]

In [152]:
test_df.drop(['PassengerId', 'Name', 'Embarked', 'Sex', 'Ticket', 'Fare', 'Cabin'], axis = 1, inplace=True)

In [44]:
test_df.fillna(df['Age'].mean(), inplace=True)

In [45]:
submission['Survived'] = rf.predict(test_df)

/var/folders/kb/wnr8t7n148zbn94sndwc9z1r0000gn/T/ipykernel_22649/390524921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['Survived'] = rf.predict(test_df)

In [48]:
submission.to_csv('submission.csv', index=False)